* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    top: 0;
}

.logo {
    width: 90%;
    margin: auto 100px;
    justify-content: flex-end;
}

nav {}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 5px;
    /*border: 1px solid white;*/
    border-radius: 50px;
    width: 100px;
    margin-top: 5px;
    text-align: center;
}

ul li:hover {
    background-color: #FFB300;
}

ul li a {
    text-decoration: none;
    color: white;
}

main {
    position: relative;
    margin-top: 40px;
    /*background-color: brown;*/
    justify-content: center;
    align-items: center;
}

.conteudo {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.conteudo div {
    width: 200px;
    height: auto;
    margin: 5px;
    /*border: 1px solid red;*/
}

.teste {
    display: flex;
    border-right: 2px dotted black;
    padding: 20px 2px;
}

.mensagem {
    display: flex;
    width: 150px;
    height: 150px;
    /*border: 1px solid black;*/
    background-color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    height: 30px;
    border-radius: 5px;
    outline: none;
}

footer {
    bottom: 0;
    height: 100px;
    margin: auto;
    justify-content: center;
    align-items: center;
}