* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #F5F5F5;
}

header {
    width: 1000px;
    height: 200px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

header h1 {
    font-family: sans-serif;
}

.logo {
    width: 190px;
    height: 190px;
    font-size: 30px;
    background-color: limegreen;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 200px;
    height: auto;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 18px;
}

main {
    width: 1000px;
    height: auto;
    /*border: 1px solid black;*/
}

.informacao {
    width: 1000px;
    height: auto;
}

.conteudo {
    /*border: 1px solid black;*/
    width: 798px;
    height: 407px;
    float: right;
}

.conteudo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo p {
    padding: 10px;
}

.equipe {
    /*border: 1px solid black;*/
    width: 100%;
    height: auto;
    float: right;
}

.equipe h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    background-color: #eee;
    color: #f67406;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-radius: 20px;
}

.menu a:hover {
    background-color: #295FB1;
    ;
}

ul {
    list-style: none;
}

dl dt {
    font-size: 15px;
    background-color: #dedede;
}

dl ul li {
    display: block;
    margin: 0 20px;
    padding: 5px;
    font-weight: 600;
}

dl ul li a {
    display: block;
    padding: 0;
    color: #f67406;
    text-decoration: none;
    border-radius: 20px;
}

dl ul li a:hover {
    color: #295FB1;
}

footer {
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}