* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2196f8;
}

header {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #FFF;
}

header>h1 {
    padding: 5px;
    color: #fff;
    text-align: center;
    font-family: Verdana, Arial, Cursive;
    margin-top: 40px;
}

header>h2 {
    color: #fff;
    width: 100%;
    height: 40px;
    font-family: Verdana, Arial, Cursive;
    text-align: center;
    font-size: 14px;
}

main {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: auto;
    top: 230px;
    
}

#conteudo-geral {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.box-custom {
    width: 100%;
    height: auto;
    /*background-color: red;*/
}

a {
    text-decoration: none;
    color: #000
}

form {
    width: 400px;
    height: auto;
    padding: 10px;
    /*background-color:  yellow;*/
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.display-btn {
    width: 100%;
    height: auto;
    padding: 4px;
}

.btn {
    padding: 8px;
    width: 100%;
    border:none;
    border-radius: 5px;
    background-color: green;
    color: white;
    
}

form>label {
    width: 100%;
    height: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, cursive;
}

form>label>input[type="text"] {
    /*background-color: red;*/
    font-size: 14px;
    border: none;
    padding: 4px;
}

#logo-principal {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    align-items: center;
    
}

#logo-principal .logo {
    font-size: 85px;
}
#content-base{
    position: absolute;
    width: 100%;
    height: auto;
    /*background-color: red;*/
    top: 140px;
    
}